
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;

	/*In order to override more specific font definitions you can add an 
	important declaration (!important), rather than a normal declaration*/

  font-family: Verdana, sans-serif;
}

body {
  height: 800px;
  min-width:300px;
}

body > * {
  border: 12px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;

}

body > header, 
body > footer {
	background-color: #B0B0B0;
	text-align: center;
  margin: 30px;
}

aside, 
nav {
	background-color: #808080;
}

section {
	background-color: #606060;
}

.header {
  font-size: 46px;
  height: 20%;
}

.footer {
  font-size: 10px;
  height: 10%;
}


@media (max-width:799px) {

  nav li {
    display: inline;
    border: 2px solid black;
    padding: 2px 10px;
    text-align: center
  }
}

@media (min-width:800px) {

  .navigation,
  .content,
  .sidebar {
    display: inline-block;
    vertical-align: top;
    height: 80%;
  }

  .navigation {
    font-size: 12px;
    width:20%;
  }

  .content {
    font-size: 14px;;
    width: 60%;
    text-align: center;
  }

  .sidebar {
    font-size: 10px;
    width:20%;
  }
}

[class$="r"] {
	background-color: magenta;
}

[class*="a"]:not([class$="r"]) {
	background-color: blue;
}
