*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: Verdana,sans-serif;
  background: url("bkg.jpg") repeat scroll 0% 0%;
  position: relative;
}
